* {
    /* El asterisco hace que se aplique a todo */
    padding: 0;
    margin: 0;
    /* Elimina el borde blanco */
    box-sizing: border-box;
    /* Elimina la barra de desplazamiento */
}

:root {
    /* Declarar variables */
    --anchomain: 80%;
    --ancho100: 100%;
    --colorprimario: ##FF5733;
}
/* ---ORDENAMIENTO----- */
.dflex{
    display: flex;
}
.centrar{
    justify-content: center;
    align-items: center;
}


/* ---FIN ORDENAMIENTO----- */

/* H = Altura
   W = Anchura
   Ctrl + K + C para comentar
Clases se declaran con punto, pero una id se declara con # */

#contenedor {
    min-height: 100vh;
    /* vh: viewport height */
    width: 100%;
    background-color: #F9C04E;
    padding: 5px;
    /* El padding separa el borde desde el contenedor */
}

header {
    height: 60px;
    width: 100%;
    background-color: #FFC300;
    display: flex; /* Metodo de ordenamiento: Los elementos que va a estar conteniendo los ordena uno al lado del otro */
    justify-content: space-between; /* Envia el contenido al principio y final */
    align-items: center; /* Alinea el contenido verticalmente */
    /* flex-direction: column; */

    & .logo {
        height: 30px;
        width: 100px;
        background-color: gold;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & span:first-child{ /* first-child solo se aplica al primero del tipo despues de cada diferente*/
            font-size: 20pt;
            color: white;
        }
        & span:nth-child(2){
            color: gold;
        }
    }

    & .botonera {
        height: 30px;
        & a{
            text-decoration: none; /* Elimina el subrayado del enlace */
            font-size: 25px;
            padding: 10px 20px 0px 20px; /* Separacion entre cada boton */
            background-color: white;
            border-radius: 20px; /* Borde del cuadrado*/
        }
        & a:hover{
            box-shadow: 0px 0px 25px -5px #C70039;
            /* background-color:#C70039; */
        }
    }
}

header .logo {
    height: 30px;
    width: 100px;
    background-color: #581845;
}

main {
    width: var(--anchomain);
    margin: auto;
    /* Centraliza el contenedor */
}

#banner {
    height: 200px;
    /* var() para seleccionar las variables */
    background-color: #C70039;
}

#articulos {
    height: 300px;
    background-color: #900C3F;
}

#descripcion {
    height: 150px;
    background-color: #581845;

    & .ancho50{
        width: 50%;
        background-color: #FFC300;
        border: solid 2px rgb(136, 63, 63);
    }
}

#nosotros {
    height: 150px;
    background-color: #1F0627;
}

footer {
    height: 50px;
    width: 100%;
    background-color: gold;
}